<app-top-bar></app-top-bar>

<div class="container my-5">
  <div class="row align-items-center justify-content-center">
    <div class="col-lg-6 mb-4 mb-lg-0">
      <img class="img-fluid rounded" src="https://icons.veryicon.com/png/o/miscellaneous/icheyong/steering-wheel-14.png" alt="Dealership">
    </div>

    <div class="col-lg-6">
      <div class="card bg-primary text-white mb-4">
        <div class="card-body">
          <h4 class="card-title">Visit Our Dealership</h4>
          <p class="card-text">
            59 Tole Bi street <br>
            Almaty, KZ <br>
            Phone: (777) 777-7777 <br>
            Hours of Operation: <br>
            Monday - Friday: 9:00 AM - 7:00 PM <br>
            Saturday: 10:00 AM - 6:00 PM <br>
            Sunday: Closed
          </p>
        </div>
      </div>

      <div>
        <h3 class="text-primary mb-3">About Us</h3>
        <h5 class="mb-3 text-secondary">Your Car Dealership</h5>
        <p class="text-muted">
          "YourCar Dealership" offers an extensive selection of new and pre-owned vehicles. We provide a high-quality car buying experience and aim to meet the mobility needs of our customers with excellent service and value.
        </p>
      </div>
    </div>
  </div>
</div>
