<div class="responsive-container-block bigContainer">
  <div class="responsive-container-block Container bottomContainer">
    <div class="ultimateImg">
      <img class="mainImg" src="https://uploads-ssl.webflow.com/5dbc05ecdf87c045144778d6/5dc04c1dec13aea25a6b1c25_7596ddc0-5847-4b67-b3e7-4c704c01c660.jpeg">
      <div class="purpleBox">
        <p class="purpleText">123 Main Street <br>Almaty, KZ <br>Phone: (555) 123-4567 <br>Email: infobookhaven.com <br>Hours of Operation: <br>Monday - Friday: 9:00 AM - 7:00 PM <br>Saturday: 10:00 AM - 6:00 PM <br>Sunday: Closed
        </p>
       
      </div>
    </div>
    <div class="allText bottomText">
      <p class="text-blk headingText">
        About Us
      </p>
      <p class="text-blk subHeadingText">
        Book Haven
      </p>
      <p class="text-blk description">
        "Book Haven" is an online platform dedicated to providing a vast collection of books across various genres to its users. With an extensive library that includes classics, bestsellers, and niche publications, Book Haven aims to cater to the diverse reading interests of its audience.
      </p>
   
    </div>
  </div>
</div>