.carousel-container {
  position: relative;
  width: 100%;
}

.carousel {
  width: 100%;
}

.carousel-item {
  width: 100%;
  display: none; /* Start with none */
}

.carousel-item.active {
  display: block; /* Only the active item is shown */
}


.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-primary:focus {
  outline: none;
  box-shadow: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-primary:active {
  background-color: #004085;
}

.carousel-container > .btn {
  width: auto;
}

.carousel-container > .btn:first-of-type {
  left: 10px;
}

.carousel-container > .btn:last-of-type {
  right: 10px;
}

@media (max-width: 768px) {
  .btn {
    padding: 5px 10px;
  }
  .btn-primary {
    font-size: 14px;
  }
}
