#vehicle-image {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

p {
  margin-right: 5%;
}

.product-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 10px;
}

.product-item {
  width: 48%;
  margin-bottom: 20px;
  margin-top: 20px;
  border: black 1px solid;
  border-radius: 10px;
  padding: 10px;
}

.buttons-container {
  height: 20px;
}

.add-to-cart {
  background-color: #ff6347;
  color: #fff;
}

a {
  text-decoration: none;
  color: #ff6347;
  font-size: 18px;
  font-weight: bolder;
}

#price {
  color: #11722b;
  font-size: 18px;
  font-weight: bolder;
}

@media (max-width: 768px) {
  .product-item {
    width: 100%;
  }

  p {
    margin-right: 2%;
  }

  a {
    font-size: 16px;
  }

  #price {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  #vehicle-image {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .product-item {
    padding: 5px;
  }

  a {
    font-size: 14px;
  }

  #price {
    font-size: 14px;
  }
}
