body {
    line-height: 1.5;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
ul {
    list-style: none;
}

.footer {
    background-color: dodgerblue;
    padding: 70px 15px;
}
.footer-col {
    width: 25%;
    padding: 0 15px;
}
.footer-col h4 {
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

@media (max-width: 992px) {
    .footer-col {
        width: 50%;
        padding: 0 15px;
    }
}

@media (max-width: 768px) {
    .footer-col {
        width: 50%;
    }
}

@media (max-width: 576px) {
    .footer-col {
        width: 100%;
        margin-bottom: 30px;
    }
}

.vehicle-catalog-container {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 10px 0;
}

.vehicle-item {
    flex: 0 0 calc(33.33% - 20px);
    text-align: center;
    margin: 10px;
}

@media (max-width: 768px) {
    .vehicle-item {
        flex: 0 0 calc(50% - 20px);
    }
}

@media (max-width: 576px) {
    .vehicle-item {
        flex: 0 0 100%;
        margin: 10px 0;
    }
}

.image-container {
    position: relative;
}

.vehicle-image {
    width: 100%;
    max-width: 327px;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.vehicle-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    color: #333;
}

.vehicle-image:hover {
    transform: scale(1.1);
}
