

<app-top-bar></app-top-bar>

<app-carousel></app-carousel>

<app-vehicle-catalog></app-vehicle-catalog>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><a href="">about us</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>get help</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">financing options</a></li>
          <li><a href="#">returns</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>vehicles</h4>
        <ul>
          <li><a href="/catalog/sedan">Sedans</a></li>
          <li><a href="/catalog/suv">SUVs</a></li>
          <li><a href="/catalog/hatchback">hatchbacks</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
          <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
