<div class="top-top">

    <img id="logo" src="https://icons.veryicon.com/png/o/miscellaneous/icheyong/steering-wheel-14.png" alt="logo">
    <h1 id="name-of-shop">YourCar</h1>

     <form id="search-form"  method="GET" >
      <input type="text"  id="search-query" name="query" placeholder="Search cars...">
      <button type="submit" >Search</button>
     </form>
    <a style="line-height: 1.5;font-family: 'Montserrat', sans-serif;color: white; font-weight:bold; margin-left: auto; padding:20px">Log out</a>

</div>

