.top-top{
    display:flex;
    align-items: center;
    background-color: dodgerblue;
    width: 100%;
}

#name-of-shop{
    text-align: center;
    margin-right: 10px;
    color:#fff;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif

}
#logo{
    padding:20px;
    width:5%;
    height:5%;
}


i{
    padding:20px;
    color:#fff;

}

#search-form {
    margin-left:20%;

}

#search-form input[type="text"] {
    padding: 10px;
    border: 2px solid orange;
    border-radius: 5px;
    width:350px;
}

#search-form button {
    padding: 5px 20px;
    background-color: orange;
    margin-left:10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
